<div class="card">
  <div class="type-fund">Renda Variável</div>
  <div class="title">Itaú Investimentos Financeiro</div>

  <div class="contain">
    <div class="item">
      <div class="label">Plano de investimento</div>
      <div class="description-label">0.5%</div>
    </div>

    <div class="item">
      <div class="label">periodo de investimento</div>
      <div class="description-label">12 meses</div>
    </div>

    <!-- <div class="item">
      <div class="label">periodo de investimento</div>
      <div class="description-label">12 meses</div>
    </div> -->
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>
