.container {
  margin-top: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.progress-bar {
  display: flex;
  // background: #dfe6e9;
}

.progress, .disabled {
  height: 5px;
  // width: 100%;
  background: #F57C00;
  // margin: 5px;
  border-radius: 5px;
}

.disabled{
  opacity: 0.2;
}

.progress-item{
  width: 100%;
  padding-left: 10px;
}

.progress-item:nth-child(-n+1) {
  padding-left: 0;
}
